


.partition-grouping {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .partition-description {
    align-self: center;

    > span::after {
      content: ", ";
    }

    > span:nth-last-of-type(2)::after {
      content: " and ";
    }

    > span:last-of-type::after {
      content: ".";
    }
  }
}

.stack-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.result-pagination {
  align-self: center;
}

.coin-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  > .coin {
    width: 3.125rem;
    height: 3.125rem;
    margin-top: -2.969rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  > h4 {
    margin: -1.5rem 0 0;
  }
}