#root {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.main-menu {
  margin: 0 -2.5rem;
  padding: 0 2.5rem;
}

.main-content {
  height: calc(100vh - 8.313rem);
  /* overflow: hidden; */
  padding: 1rem;

  > * {
    position: relative;
    min-height: calc(100vh - 10.313rem);
    overflow: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0.75rem;
  }
}
